{% extends "translate/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  	<form action="{% url 'translate_text' %}" method="POST" role="form">
		{% csrf_token %}
        <div class="row pt-5">
          <div class="col-md-12 center-block text">
    		    <h1 class="content-section pt-5" style="text-align:center;">TRANSLATE</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
            <div class="col-md-6 center-block text">
              <div class="content-section pt-5">
            	{{ form|crispy }}
            	</div>
        			<div class="form_group text-center">
        				<button class="btn btn-outline-danger" type="submit">Translate</button>
        			</div>
            </div>
          <div class="col-md-3"></div>
        </div>
	</form>
{% endblock content %}
